{% extends "layout.html" %}

{% block content %}


<div class="text-center">
    <a href="/" style="text-decoration: none; color: brown;">
        <h1>COOKING EN STOCK</h1>
    </a>
</div>
<div class="row">
    <div class="col-sm-3">
        <img src="/uploads/{{recette.picture}}" alt="{{recette.name}}" style="width: 100%;">

    </div>
    <div class="col-sm-9">

        <a href="/add/{{recette._id}}" class="btn btn-success">Editer</a>
        <a href="/delete/{{recette._id}}" class="btn btn-danger">Supprimer</a><br><br>
        <h2 style="color:brown;">{{recette.name}}</h2>

        <br>
        <h2 style="text-decoration: underline;">Ingrédients</h2>
        <p class="lead" style="font-size: 30px;">
            {{recette.description}}
        </p>

        <a href="/list/{{recette._id}}" class="btn btn-primary">Ajouter à la liste de course</a>
        <hr>
        <h2 style="text-decoration: underline;">Progression de la recette</h2>
        <p class="lead" style="font-size: 30px;">
            {{recette.timing}}
        </p>
        <br>
        <h3>Nb de personne : {{recette.nbpersonne}}</h3>
        <br>

        <h3>Temps de préparation : {{recette.préparation}}</h3>
        <br>

        <h3>Temps de cuisson : {{recette.cuisson}}</h3>

        <br>
        <h3>Temps de repos : {{recette.repos}}</h3>

        <br>
        <h3>Catégories : {% for t in recette.types %}
            <a href="/types/{{t.name}}" class="label label-default"
                style="background-color: {{t.color}}; font-size:35px;  color: #fff;">{{t.name}}</a>
            {% endfor %}</h3>


    </div>
</div>


{% endblock %}