{% extends "layout.html" %}

{% block content %}
<div class="text-center">
    <h1>COOKING EN STOCK</h1>
</div>

<a href="/new" class="btn btn-primary ">Ajouter une recette</a>

<hr>
<h2 style="text-align: center;">RECETTES</h2>


<hr>
{% for p in recettes %}
<div class="panel panel-default">
    <div class="panel-heading">
        <ul>
            <li>
                <a href="/{{p._id}}" style="text-decoration: none; color:brown;">
                    <h2 style="font-size: 30px;">{{p.name}}</h2>
                </a>
            </li>
        </ul>
    </div>


    <!-- <div class="panel-footer">
        <h4>{{p.description}}</h4>
    </div> -->


</div>
{% endfor %}

{% endblock %}