<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="description" content="recette de cuisine">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">  
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
  


        <title>Recette de cuisine, dessert, entrée, soupe, poisson, viande, salade composée, végetarien, mélanger les ingrédients, cuisson vapeur, cuisson au four</title>
</head>

<body>
    <div class="container">
        <div class="text-center">
            <a href="/" style="text-decoration: none; color: brown;">
                <h1>COOK'IN STOCK</h1>
            </a>
        </div>
        
        {% block content %}
        
        {% endblock %}
        <br>
       
        <div class="text-center">
           <h3>Copyright Cookinstock © <script>
            document.write(new Date().getFullYear());
        </script></h3> 
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
  <script>
        function print(pdf) {
            // Créer un IFrame.
            const iframe = document.createElement('iframe');  
            // Cacher le IFrame.    
            iframe.style.visibility = "hidden"; 
            // Définir la source.    
            iframe.src = pdf;        
            // Ajouter le IFrame sur la page Web.    
            document.body.appendChild(iframe);  
            iframe.contentWindow.focus();       
            iframe.contentWindow.print(); // Imprimer.
        }
    </script>
</body>

</html>