

/* font-family: 'Gloria Hallelujah', cursive; */


body {
    
    background-image: url(./image/cookingfond.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    
}

.container {
    background-image: url(./image/papierfond.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(231, 221, 209);
    margin-top: 100px;
    /* border-radius: 20px; */
    /* border: darkgrey solid; */
    font-family: 'Roboto', sans-serif;
    

}

h1 {
    color: red;
    text-transform: uppercase;
    margin: 20px;
}
h1:hover{
    color: darkorange;

}
h2{
    text-transform: uppercase;
    
}
h2:hover{
    color: darkblue;

}
h4{
    text-align: justify;
    margin: 22px;
}

a {
    border-radius: 10px solid;

}
p{
    text-align: justify;
    margin-right: 10px;
}

.btn:hover {

    text-decoration: none;
    background-color: chartreuse;
    color:brown;
    
}
a.btn.btn-primary {
    
    margin-left: 50px;
    border-radius: 10px solid;
    width: 250px;
    
}